"atom-text-editor:not(.viw-mode)":
  "alt-space": "viw:processKey"

"atom-text-editor.viw-mode":
  'space': 'viw:processKey'
  '!': 'viw:processKey'
  '"': 'viw:processKey'
  '#': 'viw:processKey'
  '$': 'viw:processKey'
  '%': 'viw:processKey'
  '&': 'viw:processKey'
  "'": 'viw:processKey'
  '(': 'viw:processKey'
  ')': 'viw:processKey'
  '*': 'viw:processKey'
  '+': 'viw:processKey'
  ',': 'viw:processKey'
  '-': 'viw:processKey'
  '.': 'viw:processKey'
  '/': 'viw:processKey'
  '0': 'viw:processKey'
  '1': 'viw:processKey'
  '2': 'viw:processKey'
  '3': 'viw:processKey'
  '4': 'viw:processKey'
  '5': 'viw:processKey'
  '6': 'viw:processKey'
  '7': 'viw:processKey'
  '8': 'viw:processKey'
  '9': 'viw:processKey'
  ':': 'viw:processKey'
  ';': 'viw:processKey'
  '<': 'viw:processKey'
  '=': 'viw:processKey'
  '>': 'viw:processKey'
  '?': 'viw:processKey'
  '@': 'viw:processKey'
  'A': 'viw:processKey'
  'B': 'viw:processKey'
  'C': 'viw:processKey'
  'D': 'viw:processKey'
  'E': 'viw:processKey'
  'F': 'viw:processKey'
  'G': 'viw:processKey'
  'H': 'viw:processKey'
  'I': 'viw:processKey'
  'J': 'viw:processKey'
  'K': 'viw:processKey'
  'L': 'viw:processKey'
  'M': 'viw:processKey'
  'N': 'viw:processKey'
  'O': 'viw:processKey'
  'P': 'viw:processKey'
  'Q': 'viw:processKey'
  'R': 'viw:processKey'
  'S': 'viw:processKey'
  'T': 'viw:processKey'
  'U': 'viw:processKey'
  'V': 'viw:processKey'
  'W': 'viw:processKey'
  'X': 'viw:processKey'
  'Y': 'viw:processKey'
  'Z': 'viw:processKey'
  'a': 'viw:processKey'
  'b': 'viw:processKey'
  'c': 'viw:processKey'
  'd': 'viw:processKey'
  'e': 'viw:processKey'
  'f': 'viw:processKey'
  'g': 'viw:processKey'
  'h': 'viw:processKey'
  'i': 'viw:processKey'
  'j': 'viw:processKey'
  'k': 'viw:processKey'
  'l': 'viw:processKey'
  'm': 'viw:processKey'
  'n': 'viw:processKey'
  'o': 'viw:processKey'
  'p': 'viw:processKey'
  'q': 'viw:processKey'
  'r': 'viw:processKey'
  's': 'viw:processKey'
  't': 'viw:processKey'
  'u': 'viw:processKey'
  'v': 'viw:processKey'
  'w': 'viw:processKey'
  'x': 'viw:processKey'
  'y': 'viw:processKey'
  'z': 'viw:processKey'
